* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

header {
	background-color: #333;
	color: white;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
	color: yellow;
}

.content {
    width: 1024px;
    margin: 0 auto;
    height: 300px;
}

.new-posts {
    width: 70%;
    height: 100%;
    float: left;
}

.list-category {
    width: 30%;
    float: left;
    height: 100%;
}

.hr {
    width: 80%;
    border: 1px solid #dbd8d8;
    float: left;
}

.first-post {
    width: 100%;
    float: left;
}

.first-post img {
    text-align: center;
    width: 80%;
}

.category-name {
    float: left;
    font-size: 18px;
}